.draggable {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  cursor: hand;
  cursor: pointer;
}

.resizable {
  width: 100px;
  border: 1px solid #bb0000;
}

.resizable img {
  width: 100%;
}

.ui-resizable-handle {
  background: #f5dc58;
  border: 1px solid #FFF;
  width: 9px;
  height: 9px;
  z-index: 2;
}

.ui-resizable-se .ui-resizable-se{
  height: 10px;
  width: 10px;
  right: -5px;
  bottom: -5px;
}

.ui-resizable-ne .ui-resizable-ne{
  height: 10px;
  width: 10px;
  right: -5px;
  bottom: -5px;
}

.ui-resizable-sw .ui-resizable-sw{
  height: 10px;
  width: 10px;
  right: -5px;
  bottom: -5px;
}

.ui-resizable-sw .ui-resizable-sw{
  height: 10px;
  width: 10px;
  right: -5px;
  bottom: -5px;
}

.ui-rotatable-handle {
  background: #f5dc58;
  border: 1px solid #FFF;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-border-radius: 5px;
  cursor: pointer;
  height: 10px;
  left: 50%;
  margin: 0 0 0 -5px;
  position: absolute;
  top: -5px;
  width: 10px;
}

.ui-rotatable-handle.ui-draggable-dragging {
  visibility: hidden;
}

button{
  position:fixed;
  left:880px;
  top: 750px;
}

#wrapper{
  position: fixed;
  top: 40%;
  left: 43%;
}
